# Instructions for this configuration file can be found at the BukkitDev page:
# http://dev.bukkit.org/server-mods/casino-slots/pages/info/config/
# If you change the config-version, the defaults will be added. You have been warned.
options:
  debug: false
  config-version: 1.0
  bukkit-version: 2377 #Changing this to something lower will disable sounds
  track-statistics: true
  allow-diagonal-winnings: false
  enable-slot-protection: true
  enable-chunk-messages: false
  enable-worldguard-check: false
  towny-checks:
    enabled: false
    only-mayors: true
    no-mayor: You must be a mayor to create a Casino Slot.
    only-towns: true
    no-town: To create a slot you must be part of a town.
    no-ownership: You don't own the plot where that would be at, please make sure you are the owner and then try again.
  chat:
    display-plugin-prefix: true
    plugin-prefix: '[Casino]'
    plugin-prefix-color: '&c&o'
    chat-color: '&a'
types:
  default:
    cost: 100
    create-cost: 1000
    reel:
    - 42,21
    - 41,12
    - 57,7
    - 46,8
    - 103,9
    - 49,4
    - 3,5
    rewards:
      '42':
        message: Winner - 3 iron blocks! An enchanted iron sword.
        money: 0.0
        action: give 267,16,5 1
      '41':
        message: Winner - 3 gold blocks! $300 awarded.
        money: 300.0
      '57':
        message: Winner - 3 diamond blocks! $750 awarded.
        money: 750.0
      '46':
        action: kill
        message: Winne-
        money: 0.0
      '103':
        action: give 103 10
        message: Winner - 3 ..melons? Nom.
        money: 0.0
    messages:
      insufficient-permission: Sorry, you can't play this slot.
      insufficient-funds: You can't afford to use this.
      in-use: This slot machine is already in use.
      no-win: No luck this time.
      start: '[cost] removed from your account. Let''s roll!'
      help:
      - 'Instructions:'
      - Get 3 in a row in order to win. $100 per spin.
      - '3 iron blocks: $175'
      - '3 gold blocks: $300'
      - '3 diamond blocks: $750'
      - '3 melon blocks: stack of melons'
  actionslot:
    cost: 150
    create-cost: 1000
    reel:
    - 35,3,2
    - 46,1
    - 74,1
    - 87,1
    - 103,1
    - 45,1
    rewards:
      '35,3':
        action: goblind
        message: Winne- You can't see now!
        money: 0.0
      '46':
        action: kill
        message: Winne-
        money: 0.0
      '74':
        action: drugup
        message: Winne- Kids, drugs are bad!
      '87':
        action: fire
        message: Winne- Fire hurts! Don't mess with it.
        money: 0.0
      '103':
        action: give 103 3
        message: Winner - 3 ..melons? Nom.
        money: 0.0
      '45':
        action:
        - gocrazy
        - command give [player] 336 1
        message: Winner - A command has been executed!
        money: 0.0
    messages:
      insufficient-permission: You can't play this one, that's too sad - we really wanted you to win.
      insufficient-funds: You can't afford to use this.
      in-use: This slot machine is already in use.
      no-win: No luck this time.
      start: '[cost] removed from your account. Let''s roll!'
      help:
      - 'Instructions:'
      - Get 3 in a row in order to win. $150 per spin.
      - '3 tnt blocks: Death!'
      - '3 on redstone lamps: You go Blind!'
      - '3 melon blocks: stack of melons'
      - '3 redstone: Get drugged'
      - '3 nether brick: Catch on fire'